<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('http://qi.ucsd.edu/images/header-index-atkinson.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        PROJECTS
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>
  <div class="section profile-content">
    <div class="container">
      <!--<div class="owner">-->
      <!--<div class="avatar">-->
      <!--<img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">-->
      <!--</div>-->
      <!--<div class="name">-->
      <!--<h4 class="title">About<br /></h4>-->
      <!--<h6 class="description">We are who we are</h6>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
      <!--<div class="col-md-6 ml-auto mr-auto text-center">-->
      <!--<p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>-->
      <!--<br />-->
      <!--<button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>-->
      <!--</div>-->
      <!--</div>-->
      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Current projects">
              <ng-template ngbTabContent >
                <div class="row following" id="follows">
                  <div class="col-md-12 ml-auto mr-auto">
                    <ul class="list-unstyled follows">
                      <li>
                        <div class="row">
                          <!--<div class="col-md-2 col-sm-2 ml-auto mr-auto">-->
                          <!--<img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">-->
                          <!--</div>-->
                          <div class="col-md-4 col-sm-2 mr-auto ml-auto">
                            <h6>Airound<br/><small>Funded from who somebody</small></h6>
                          </div>
                          <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                            <p>
                              aldjflkajsdlfjalsjfl;ajsdflkajsldfj
                              asdf;alsjdfajlf
                              asdf;laksjdlfa
                              sdflja;l
                            </p>
                          </div>
                        </div>
                      </li>
                      <hr />
                      <li>
                        <div class="row">
                          <!--<div class="col-md-2 col-sm-2 ml-auto mr-auto">-->
                          <!--<img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">-->
                          <!--</div>-->
                          <div class="col-md-4 col-sm-2 mr-auto ml-auto">
                            <h6>ADAS<br/><small>Funded from who somebody</small></h6>
                          </div>
                          <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                            <p>
                              aldjflkajsdlfjalsjfl;ajsdflkajsldfj
                              asdf;alsjdfajlf
                              asdf;laksjdlfa
                              sdflja;l
                            </p>
                          </div>
                        </div>
                      </li>
                      <hr />
                    </ul>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Past projects">
              <ng-template ngbTabContent>
                <h3 class="text-muted">Not following anyone yet :(</h3>
                <br>
                <button class="btn btn-warning btn-round">Find artists</button>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
