<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>CONTACT</h1>
      <!--<h3>Start designing your landing page here.</h3>-->
      <!--<br />-->
      <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>-->
      <!--<button type="button" class="btn btn-outline-neutral btn-round">Download</button>-->
    </div>
  </div>
</div>
<div class="main">
  <div class="col-lg-8  ml-auto mr-auto ">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng" [draggable]="false"></agm-marker>
    </agm-map>
  </div>

  <div class="section text-center">
    <div class="container">
      <!--<div class="row">-->
        <!--&lt;!&ndash;<div class="col-md-8 mr-auto ml-auto">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<h2 class="title">Let's talk product</h2>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <br/><br/>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Address</h4><br/>
              <h6>WOODENSTICK RESEARCH GROUP</h6>
              <p class="description">
                Atkinson Hall - Fourth Floor, Suite 4318<br/>
                9500 Gilman Drive #0436<br/>
                La Jolla, CA 92093-0436<br/>
              </p>
              <a href="https://www.google.com/maps/place/Atkinson+Hall/@32.8829209,-117.2372411,17z/data=!3m1!4b1!4m5!3m4!1s0x80dc06c30481a675:0x827a968f200cd882!8m2!3d32.8829164!4d-117.2350471" class="btn btn-link btn-danger">View map</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Phone</h4><br/>
              <h6>Mobile</h6>
              <p>123-456-789</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Contact List</h4><br/>
              <h6>Technical support</h6>
              <p><strong>Junhee Park</strong>, Server and DB Manager | <a href="mailto:j.jobs1028@gmail.com">Email</a></p>
              <p><strong>Changeun Park</strong>, Mobile App Manager | <a href="mailto:changeunpark@gmail.com">Email</a></p>
              <br/>
              <h6>Apply, Educational Support</h6>
              <p><strong>Seokheon Cho</strong>, Principle Investigator | <a href="mailto:s5cho@eng.ucsd.edu">Email</a></p>
            </div>
          </div>
        </div>
        <!--<div class="col-md-3">-->
          <!--<div class="info">-->
            <!--<div class="icon icon-danger">-->
              <!--<i class="nc-icon nc-sun-fog-29"></i>-->
            <!--</div>-->
            <!--<div class="description">-->
              <!--<h4 class="info-title">Delightful design</h4>-->
              <!--<p>Find unique and handmade delightful designs related items directly from our sellers.</p>-->
              <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>

    </div>
  </div>

</div>
