<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('http://qi.ucsd.edu/images/header-industry.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        NOTICE
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2 class="title"><hr/>THE ANNOUNCEMENT FROM WOODENSTICK<hr/></h2>
          <!--<h6 class="description"E>We are who we are</h6>-->
        </div>
      </div>
      <div class="main">
        <div class="row">
          <div class="table-container  col-md-10 mr-auto ml-auto">
            <table class="table table-filter">
              <tfoot>
              <td colspan="2">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">

                    <ngb-pagination  [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                  </div>
                </div>
              </td>
              </tfoot>
              <tbody>
              <tr>
                <td>
                  <div class="media">
                    <div class="thumnail-container">
                    <a href="#" class="pull-left">
                      <img src="http://calit2.net/images/articles/2016/yonder-dynamics-2%20-%20Copy%201.jpg" class="media-photo">
                    </a>

                    </div>
                    <div class="media-body">
                      <span class="media-meta pull-right">December 17, 2017</span>
                      <h4 class="title">
                        <a href="#">
                          Lorem Impsum
                        </a>
                      </h4>
                      <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="thumnail-container">
                      <a href="#" class="pull-left">
                        <img src="http://calit2.net/images/articles/2016/TajanaRosing_Latest.jpg" class="media-photo">
                      </a>
                    </div>

                    <div class="media-body">
                      <span class="media-meta pull-right">December 17, 2017</span>
                      <h4 class="title">
                        <a href="#">
                          Lorem Impsum
                        </a>
                      </h4>
                      <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="thumnail-container">
                      <a href="#" class="pull-left">
                        <img src="http://calit2.net/images/articles/2016/PalmyraAtoll_CoralReefDiver.jpg" class="media-photo">
                      </a>
                    </div>

                    <div class="media-body">
                      <span class="media-meta pull-right">December 17, 2017</span>
                      <h4 class="title">
                        <a href="#">
                          Lorem Impsum
                        </a>
                      </h4>
                      <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <br/>
    </div>
  </div>
</div>
