li {
    margin-bottom: 10px;
}

ul.dashed {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul small {
    font-size: 80%;
    color: #9A9A9A;
    line-height: 1.5em;
    font-weight: 400;
    margin-left: 10px;
}

ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}

h6 {
    font-size: 110%;
}

.owner {
    padding-bottom: 3em;
}