<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-color: #ffff; min-height: 20vh !important;">
    <!--<div class="filter"></div>-->
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <a href="https://github.com/jumpsnack" class="btn  btn-just-icon btn-github-bg"><i class="fa fa-github"></i></a>
          <a href="https://stackoverflow.com/users/8749875/jumpsnack" class="btn  btn-just-icon btn-google-bg"><i class="fa fa-stack-overflow"></i></a>
          <a href="mailto:eddiesangwonkim@gmail.com" class="btn  btn-just-icon btn-twitter-bg"><i class="fa fa-envelope"></i></a>
          <h4 class="title">Sangwon Kim<br/></h4>

          <h6 class="description">Intern researcher<small><br/>Undergraduate</small></h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <!--<p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>-->
          <br />
        </div>
        <div class="col-md-auto ml-auto mr-auto text-left">
          <ul>
            <li>
              <h6>Research Interests</h6>
              <ul class="dashed">
                <li>
                  Wireless Communications
                </li>
                <li>
                  HTTP/2
                </li>
              </ul>
            </li>
            <li>
              <h6>Experience</h6>
              <ul class="dashed">
                <li>
                  9/17 ~ 9/18 : Intern researcher, Qualcomm Institute, San Diego, CA, U.S.
                </li>
                <li>
                  1/17 ~ 2/17 : International Winter School, EPITECH, Paris, France
                </li>
                <li>
                  6/16 ~ 8/17 : Intern researcher, Qualcomm Institute, San Diego, CA, U.S.
                </li>
              </ul>
            </li>
            <li>
              <h6>Journal</h6>
              <ul class="dashed">
                2017
                <li>
                  The development of a short-term memory training system for consecutive interpreting
                  <small>
                    <br/>Sangwon Kim, Donghyeok An, Jihye Pyo, KeeHyun Park, Jimin Lee
                  </small>
                  <small>
                    <br/>Asia-pacific Journal of Multimedia Services Convergent with Art, Humanities, and Sociology(AJMAHS).
                  </small>
                </li>
                <li>
                  Development of a sight translation training system for simultaneous interpreting practice
                  <small>
                    <br/>Sangwon Kim, Jimin Lee, KeeHyun Park, Donghyeok An
                  </small>
                  <small>
                    <br/>Asia-pacific Journal of Multimedia Services Convergent with Art, Humanities, and Sociology(AJMAHS), 7(3), 841-850.
                  </small>
                </li>
              </ul>
            </li>
            <li>
              <h6>Conference</h6>
              <ul class="dashed">
                2017
                <li>
                  A design of automatic electric meter read system using drone
                  <small>
                    <br/>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An
                  </small>
                  <small>
                    <br/>Korea Information Processing Society(KIPS), April.
                  </small>
                </li>
                <li>
                  A design of restroom monitoring and management system using Arduino
                  <small>
                    <br/>Sangwon Kim, Eunsol Kim, Hyejeong Choi, Donghyeok An
                  </small>
                  <small>
                    <br/>Korea Information Processing Society(KIPS), April.
                  </small>
                </li>
                2016
                <li>
                  Development of a Sight translation training system for interpretation and translation
                  <small>
                    <br/>Sangwon Kim, Jimin Lee, KeeHyun Park, Donghyeok An
                  </small>
                  <small>
                    <br/>The Convergent Research Society Among Humanities, Sociology, Science, and Technology, October.
                  </small>
                </li>
                <li>
                  Development of a memory training system for improving short term memory
                  <small>
                    <br/>Sangwon Kim, Jimin Lee, Jihye Pyo, KeeHyun Park, Donghyeok An
                  </small>
                  <small>
                    <br/>The Convergent Research Society Among Humanities, Sociology, Science, and Technology, October.
                  </small>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
