<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('http://qi.ucsd.edu/images/header-research.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        NEWS
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2 class="title"><hr/>THE LATEST FROM WOODENSTICK<hr/></h2>
          <!--<h6 class="description">We are who we are</h6>-->
        </div>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
      <br/>
    </div>
  </div>
</div>
