<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('http://qi.ucsd.edu/images/header-research.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        NEWS
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2 class="title"><hr/>THE LATEST FROM WOODENSTICK<hr/></h2>
          <!--<h6 class="description">We are who we are</h6>-->
        </div>
      </div>
      <div class="main">
        <div class="row">

          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://calit2.net/images/articles/2016/SMARTfig1.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://calit2.net/images/articles/2016/SMARTfig1.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://calit2.net/images/articles/2016/SMARTfig1.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://www.yeongnam.com/Photo/2016/06/06/L20160606.010190756490001i1.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://img.etnews.com/photonews/1606/808598_20160603153923_141_0002.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-img-top">
              <img src="http://calit2.net/images/articles/2016/SMARTfig1.jpg">
            </div>
            <div class="card-body">
              <h2 class="card-title">Post title</h2>
              <p class="card-text">Hello blahblagblahblah....</p>
              <a href="#" class="btn-sm  btn-danger btn-round">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>
        </div>

        <div class="row">
          <div class="ml-auto mr-auto text-center">

            <ngb-pagination  [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
          </div>

        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
