<!--<ng-template ngbTabContent >-->
<div class="row current" id="current">
  <div class="col-md-6 ml-auto mr-auto">
    <ul class="list-unstyled current">
      <h2>Staff</h2>
      <li>
        <div class="row">
          <div class="col-md-7 col-sm-4 ml-auto mr-auto">
            <h4>Seokheon Cho<br/><small>Qualcomm Institute, United States</small></h4>
          </div>
        </div>
      </li>
      <hr />
      <h2>Intern</h2>
      <li>
        <div class="row">
          <div class="col-md-7 col-sm-4 ml-auto mr-auto">
            <h4>Junhee Park<br/><small>Qualcomm Institute, US</small></h4>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-7 col-sm-4 ml-auto mr-auto">
            <h4>JYJ<br/><small>Korean Telecom, Korea</small></h4>
          </div>
        </div>
      </li>
      <hr />
      <!--<h2>3rd short-term internship</h2>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>Qualcomm Institute, United States</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<hr />-->
      <!--<h2>2nd short-term internship</h2>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>adf, Korea</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<hr />-->
      <!--<h2>1st short-term internship</h2>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>SK Telecom, Korea</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>Korean Telecom, Korea</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>LG, Korea</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-4 ml-auto mr-auto">-->
            <!--<h4>Seokheon Cho<br/><small>Samsung, Korea</small></h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</li>-->
      <!--<hr />-->
    </ul>
  </div>
</div>
<!--</ng-template>-->