<footer class="footer footer-gray">
    <div class="container">
        <div class="row">
            <!--<nav class="footer-nav">-->
                <!--<ul>-->
                    <!--<li><a href="https://www.creative-tim.com">Creative Tim</a></li>-->
                    <!--<li><a href="http://blog.creative-tim.com">Blog</a></li>-->
                    <!--<li><a href="https://www.creative-tim.com/license">Licenses</a></li>-->
                <!--</ul>-->
            <!--</nav>-->
            <div class="credits ml-auto">
                <span class="copyright">
                    made with <i class="fa fa-heart heart"></i> by Sangwon Kim
                </span>
                <br/>
                <span class="copyright">
                    Copyright © {{test | date: 'yyyy'}} WOODENSTICK RESEARCH GROUP. All rights reserved.
                </span>

            </div>
        </div>
    </div>
</footer>
