<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('http://qi.ucsd.edu/images/header-index-atkinson.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        PUBLICATIONS
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>
  <div class="section profile-content">
    <div class="container">
      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Journal">
              <ng-template ngbTabContent >
                  <table class="col-md-9 mr-auto ml-auto">
                    <tr>
                      <td class="index">
                        <!--2017-->
                        <div class="col-md-auto mr-auto">
                          <h2>2017</h2>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="list"><div class="col-md-auto ml-auto mr-auto">
                        <ul class="list-unstyled journal">
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                        </ul>
                      </div></td>
                    </tr>
                    <tr>
                      <td class="index">
                        <!--2016-->
                        <div class="col-md-auto mr-auto">
                          <h2>2016</h2>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="list">
                        <div class="col-md-auto ml-auto mr-auto">
                          <ul class="list-unstyled journal">
                            <li>
                              <div class="row">
                                <div class="col-md-auto col-sm-auto ml-auto">
                                  <h6>A design of automatic electric meter read system using drone<br/>
                                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                    <small>Korea Information Processing Society(KIPS), April.</small>
                                  </h6>
                                </div>
                              </div>
                            </li>
                            <hr />
                            <li>
                              <div class="row">
                                <div class="col-md-auto col-sm-auto ml-auto">
                                  <h6>A design of automatic electric meter read system using drone<br/>
                                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                    <small>Korea Information Processing Society(KIPS), April.</small>
                                  </h6>
                                </div>
                              </div>
                            </li>
                            <hr />
                            <li>
                              <div class="row">
                                <div class="col-md-auto col-sm-auto ml-auto">
                                  <h6>A design of automatic electric meter read system using drone<br/>
                                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                    <small>Korea Information Processing Society(KIPS), April.</small>
                                  </h6>
                                </div>
                              </div>
                            </li>
                            <hr />
                            <li>
                              <div class="row">
                                <div class="col-md-auto col-sm-auto ml-auto">
                                  <h6>A design of automatic electric meter read system using drone<br/>
                                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                    <small>Korea Information Processing Society(KIPS), April.</small>
                                  </h6>
                                </div>
                              </div>
                            </li>
                            <hr />
                            <li>
                              <div class="row">
                                <div class="col-md-auto col-sm-auto ml-auto">
                                  <h6>A design of automatic electric meter read system using drone<br/>
                                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                    <small>Korea Information Processing Society(KIPS), April.</small>
                                  </h6>
                                </div>
                              </div>
                            </li>
                            <hr />
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Conference">
              <ng-template ngbTabContent>
                <table class="col-md-9 mr-auto ml-auto">
                  <tr>
                    <td class="index">
                      <!--2017-->
                      <div class="col-md-auto mr-auto">
                        <h2>2017</h2>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="list"><div class="col-md-auto ml-auto mr-auto">
                      <ul class="list-unstyled journal">
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                      </ul>
                    </div></td>
                  </tr>
                  <tr>
                    <td class="index">
                      <!--2016-->
                      <div class="col-md-auto mr-auto">
                        <h2>2016</h2>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="list">
                      <div class="col-md-auto ml-auto mr-auto">
                        <ul class="list-unstyled journal">
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Patent">
<ng-template ngbTabContent>
  <table class="col-md-9 mr-auto ml-auto">
    <tr>
      <td class="index">
        <!--2017-->
        <div class="col-md-auto mr-auto">
          <h2>2017</h2>
        </div>
      </td>
    </tr>
    <tr>
      <td class="list"><div class="col-md-auto ml-auto mr-auto">
        <ul class="list-unstyled journal">
          <li>
            <div class="row">
              <div class="col-md-auto col-sm-auto ml-auto">
                <h6>A design of restroom monitoring and management system using Arduino<br/>
                  <small>Sangwon Kim, Eunsol Kim, Hyejeong Choi, Donghyeok An </small><br/>
                  <small>Korea Information Processing Society(KIPS), April.</small>
                </h6>
              </div>
            </div>
          </li>
          <hr />
          <li>
            <div class="row">
              <div class="col-md-auto col-sm-auto ml-auto">
                <h6>A design of automatic electric meter read system using drone<br/>
                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                  <small>Korea Information Processing Society(KIPS), April.</small>
                </h6>
              </div>
            </div>
          </li>
          <hr />
          <li>
            <div class="row">
              <div class="col-md-auto col-sm-auto ml-auto">
                <h6>A design of automatic electric meter read system using drone<br/>
                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                  <small>Korea Information Processing Society(KIPS), April.</small>
                </h6>
              </div>
            </div>
          </li>
          <hr />
          <li>
            <div class="row">
              <div class="col-md-auto col-sm-auto ml-auto">
                <h6>A design of automatic electric meter read system using drone<br/>
                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                  <small>Korea Information Processing Society(KIPS), April.</small>
                </h6>
              </div>
            </div>
          </li>
          <hr />
          <li>
            <div class="row">
              <div class="col-md-auto col-sm-auto ml-auto">
                <h6>A design of automatic electric meter read system using drone<br/>
                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                  <small>Korea Information Processing Society(KIPS), April.</small>
                </h6>
              </div>
            </div>
          </li>
          <hr />
        </ul>
      </div></td>
    </tr>
    <tr>
      <td class="index">
        <!--2016-->
        <div class="col-md-auto mr-auto">
          <h2>2016</h2>
        </div>
      </td>
    </tr>
    <tr>
      <td class="list">
        <div class="col-md-auto ml-auto mr-auto">
          <ul class="list-unstyled journal">
            <li>
              <div class="row">
                <div class="col-md-auto col-sm-auto ml-auto">
                  <h6>A design of automatic electric meter read system using drone<br/>
                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                    <small>Korea Information Processing Society(KIPS), April.</small>
                  </h6>
                </div>
              </div>
            </li>
            <hr />
            <li>
              <div class="row">
                <div class="col-md-auto col-sm-auto ml-auto">
                  <h6>A design of automatic electric meter read system using drone<br/>
                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                    <small>Korea Information Processing Society(KIPS), April.</small>
                  </h6>
                </div>
              </div>
            </li>
            <hr />
            <li>
              <div class="row">
                <div class="col-md-auto col-sm-auto ml-auto">
                  <h6>A design of automatic electric meter read system using drone<br/>
                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                    <small>Korea Information Processing Society(KIPS), April.</small>
                  </h6>
                </div>
              </div>
            </li>
            <hr />
            <li>
              <div class="row">
                <div class="col-md-auto col-sm-auto ml-auto">
                  <h6>A design of automatic electric meter read system using drone<br/>
                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                    <small>Korea Information Processing Society(KIPS), April.</small>
                  </h6>
                </div>
              </div>
            </li>
            <hr />
            <li>
              <div class="row">
                <div class="col-md-auto col-sm-auto ml-auto">
                  <h6>A design of automatic electric meter read system using drone<br/>
                    <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                    <small>Korea Information Processing Society(KIPS), April.</small>
                  </h6>
                </div>
              </div>
            </li>
            <hr />
          </ul>
        </div>
      </td>
    </tr>
  </table>
</ng-template>
            </ngb-tab>
            <ngb-tab title="Book">
              <ng-template ngbTabContent>
                <table class="col-md-9 mr-auto ml-auto">
                  <tr>
                    <td class="index">
                      <!--2017-->
                      <div class="col-md-auto mr-auto">
                        <h2>2017</h2>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="list"><div class="col-md-auto ml-auto mr-auto">
                      <ul class="list-unstyled journal">
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                        <li>
                          <div class="row">
                            <div class="col-md-auto col-sm-auto ml-auto">
                              <h6>A design of automatic electric meter read system using drone<br/>
                                <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                <small>Korea Information Processing Society(KIPS), April.</small>
                              </h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                      </ul>
                    </div></td>
                  </tr>
                  <tr>
                    <td class="index">
                      <!--2016-->
                      <div class="col-md-auto mr-auto">
                        <h2>2016</h2>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="list">
                      <div class="col-md-auto ml-auto mr-auto">
                        <ul class="list-unstyled journal">
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                          <li>
                            <div class="row">
                              <div class="col-md-auto col-sm-auto ml-auto">
                                <h6>A design of automatic electric meter read system using drone<br/>
                                  <small>Sangwon Kim, Donhjin Lee, Dasom Ahn, Jihye Pyo, Donghyeok An</small><br/>
                                  <small>Korea Information Processing Society(KIPS), April.</small>
                                </h6>
                              </div>
                            </div>
                          </li>
                          <hr />
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
