<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('https://farm5.staticflickr.com/4416/36482067020_4e3faf8368_k.jpg');">
    <div class="filter">
    </div>
    <!--START--by Jumpsnack--->
    <div class="td-name page-subtitle" >
      <div class="container" >
        IoT PLATFORM
      </div>
    </div>
    <!--END--by Jumpsnack--->
  </div>

  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2 class="title"><hr/>Hands-on IoT Platform Development Project<hr/></h2>
          <!--<h6 class="description">We are who we are</h6>-->
        </div>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
      <br/>
    </div>
  </div>
</div>